@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply rounded-full border border-gray-200 bg-white px-4 py-2 outline-none transition-all duration-300 placeholder:text-stone-400 focus:border-none focus:ring focus:ring-yellow-300 md:w-72;
  }

  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
    background:
      var(--c) 0% 100%,
      var(--c) 50% 100%,
      var(--c) 100% 100%;
    background-size: 20% 65%;
    animation: l8 1s infinite linear;
  }
  @keyframes l8 {
    16.67% {
      background-position:
        0% 0%,
        50% 100%,
        100% 100%;
    }
    33.33% {
      background-position:
        0% 0%,
        50% 0%,
        100% 100%;
    }
    50% {
      background-position:
        0% 0%,
        50% 0%,
        100% 0%;
    }
    66.67% {
      background-position:
        0% 100%,
        50% 0%,
        100% 0%;
    }
    83.33% {
      background-position:
        0% 100%,
        50% 100%,
        100% 0%;
    }
  }
}
